body {
  background-color: #ecf0f1 !important;
  color: #606e7c !important;
  font-family: 'Open Sans' !important; ;
  font-size: 0.8rem !important;
}
.divtable {
  border-radius: 25px;
  background: #ffffff;
  margin-top: 30px;
  padding: 30px;
}
.buttonRow {
  text-align: right;

}
.pagination {
  margin: 10px auto;
}
.pagination a {
  color: #3b5998;

}
.page-item.active .page-link {
  color: white !important;
}
.page-item {
  cursor: pointer;
  border-radius: 16px;
  margin-right: 4px;
}
.page-link {
  cursor: pointer;
  color: black !important;
  border: none !important;
}
.page-link.disabled:hover {
  background-color: transparent;
}

/* .addStatus {
  border-radius: 1.25rem !important;

} */

.divFooter {
  background-color: #e9ecef !important;
  color: #007b !important;
  width: 100%;
  text-align: center;
  clear: both;
  position: absolute;
  bottom: 0;
  padding: 16px;
}
header {
  border-bottom: 1px solid #bbb;
  margin-bottom: 40px;
  background-color: #fff;
}

header .navbar {
  width: 75%;
  margin: auto;
  padding: 16px 0px;
  font-size: 0.8rem;
}
.route-content {
  background-color: #fff;
}
.navbar a {
  color: #ccc;
  text-decoration: none;
  letter-spacing: 0.2em;
  font-weight: 400;
}
.navbar a.active,
a:hover {
  color: #3b5998;
  text-decoration: none !important;
}
.navbar .nav-item {
  padding-right: 16px;
}
input[type=text], input[type=password], input[type=number] {
  border-radius: 24px !important;
  height: 30px !important;
  font-size: small !important;
}
.welcome,
.welcome a {
  color: #3b5998!important;
  letter-spacing: normal;
  font-weight: bold;
}
.welcome a:hover {
  color: #3b5998 !important;
}
.head-search {
  position: relative;
}
.head-search i {
  position: absolute;
  right: 15px;
  top: 9px;
  color: #ccc;
}
.head-search input {
  padding-right: 26px;
}
button.default {
  background-color: #3b5998;
  color: white;
  border: none;
  border-radius: 4px !important;
  min-width: 100px;
}

h2 {
  font-size: 1.5rem !important;
}
.upload-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #ecf0f1;
  outline: none;
  transition: border 0.24s ease-in-out;
  border-radius: 8px;
  cursor: pointer;
}
.upload-box:hover {
  border-color: #2196f3;
  border-style: dashed;
}
.adscontainer {
  display: flex;
  flex-flow: row wrap;
  font-size: 12px;
  clear: both;
  margin-left: -.75rem;
  margin-right: -.75rem;
}
.adscontainer .card-text{
  font-size: 12px !important;
}
.h5 {
  font-size: 16px !important;
  font-weight: 600;
}
.adcard {
  background: #ffffff;
  border-radius: 20px;
  color: #858f9a;
  border: 1px solid #dfe4e5;
  flex: 0 0 calc(25% - 1.5rem);
  margin-right: .75rem;
  margin-left: .75rem;
  margin-bottom: 1.5rem;
}
.card {
  border: none !important;
}
.togglebutton {
  float: right;
}
.card-body {
  padding: 0px !important;
  color: black;
}
hr {
  padding: 0px;
}

.card-img {
  margin-top: 11px;
  border-style: solid;
  border-width: 1px;
  border-color: #b6c3d4;
}

.adstatus {
  padding: 11px 20px 0px 20px;
}
.description {
  padding: 0px 16px 11px;
}
.create-add{
  margin-bottom: 15px;
  float: right;
  font-family: 'Open Sans';

}
.table th{
  border: none !important;
}

.modal-90w{
  width: 90%;
  max-width: 90%;
  height: 400px;
}

.unit-title{
  position: absolute;
    top: 16px;
    right: 16px;
}

.photo-upload{
  background-color: #b6c3d4;
  width: 100%;
  height: 100px;
  border: 1px solid grey;
}

.modal-footer{
  border: none !important;
  display: block !important;
  float: left;
}

.modal-footer>:not(:first-child){
  float: right;
}

.geographic-dropown{
  color: black;
    background-color: #ffff;
    border-color: grey;
    width: 40%;
}
.ad-unit-price {
  width: 70%;
}
button.grey {
  color: white;
  background-color: #5c6d7e;
  border-color: #5c6d7e;
  min-width: 100px;
}

.right-half-modal{
  height: 300px;
  border: 1px solid #ced4da !important;
  border-radius: 10px;
  padding: 11px;
}

.schedule-length{
  height: 300px;
  border: 1px solid #ced4da !important;
  border-radius: 10px;
  padding: 11px;
  width: 95%;
}

.budget{
  border: 1px solid #ced4da !important;
  border-radius: 10px;
  padding: 11px;
  width: 90%;
}

.budget-amount{
  float: right;
  width:80% !important;
  height: auto !important;
  padding: 4px 4px 4px 8px !important;

}

.botom-right-float{
  float: right;
}

.loc-select{
  border: 1px solid #ced4da !important;
  padding: 4px 4px 4px 8px !important;
  width: 95%!important;
}

.sm-font{
  font-size: 10px !important;
}

.boder{
  border: 1px solid #ced4da !important;
  border-radius: 4px;
}

.modal-header{
  display: block !important;
  border-bottom: none !important;
}

.modal-content{
  padding: 12px;
}

.date-range{
  display: flex;
  flex-direction: row;
}


/* .react-datepicker-wrapper{ */
  /* width: 70% !important; */
  /* align-content: right; */
/* } */

.create-ad-search {
  position: relative;
}
.create-ad-search i {
  position: absolute;
  right: 15px;
  top: 8px;
  color: #ccc;
}

.date-range-w{
  width: 40% !important;
  position: relative;
}
.date-range-w i{
  position: absolute;
  left: 15px;
  top: 7px;
  color: #ccc;
}

.date-range-l{
  position: relative;
  width: 30% !important;
}
.date-range-l i{
  position: absolute;
  left: 12px;
  top: 9px;
  color: #ccc;
}

table {
  color: #606e7c !important
}
.roundedInput .react-time-picker__wrapper {
  border-radius: 16px;
  border-color: #ced4da;
  color: #495057 !important;
}
.table td {
  vertical-align: middle !important;
}


.confirm {
  margin: -16px 3px 3px 3px;
}